* {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #020617;
    padding: 15px 40px;
}

.nav p {
    color: #E5E7EB;
    font-size: 30px;
    font-style: bold;
    padding-left: 9.4rem;
}

.nav ul {
    list-style-type: none;
    color: #CBD5E1;
    display: flex;
    gap: 2rem;
    padding-left: 50rem;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    font-size: 20px;
}

.nav li button {
    background-color: black;
    color: #CBD5E1;
    border: 2px solid #CBD5E1;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 8px #CBD5E1;
    padding: 10px 15px;
}

.first,.third {
    background-color: #0F172A;
}

.second {
    background-color: #F8FAFC;
}

.first h1 {
    color: #E5E7EB;
}

.first p {
    color: #CBD5E1;
}

.first h2 {
    color: #E5E7EB;
}

.first div {
    border: 2px solid #E5E7EB;
}